	<html>
	{% extends "banner_base.html" %}

{% load i18n %}
{% load staticfiles %}

{% block head_title %}{% trans "Create Lesson Plan" %}{% endblock %}

<!-- Don't know the purpose of the following line -->
{% block body_class %}home{% endblock %}

	<head>

		<title>Results</title>
	</head>

	<body>

		{% block banner %}

			<h2>{{l.course_name}} <span> : {{l.lesson_title}}</h2>
			<button onclick="up_vote_plan('1');" type="button" class="btn btn-default btn-lg">
				<span class="glyphicon glyphicon-thumbs-up"></span>
			</button>

			<button onclick="up_vote_plan('-1');" type="button" class="btn btn-default btn-lg">
				<span class="glyphicon glyphicon-thumbs-down"></span>
			</button>

			<span>Rating: {{l.score}}</span>

			<a href="/create_lesson_plan/{{l.pk}}/answer_questions/">
				<button class="btn btn-success">
					Take Test
				</button>
			</a>


			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

		 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<script type="text/javascript">
			function extractDomain(url) {
					var domain;
					if (url.indexOf("://") > -1) {domain = url.split('/')[2];}
					else {domain = url.split('/')[0];}
					
					domain = domain.split(':')[0];
					return domain;
			}
			function extractFileType(url){
				url = url.substr(1 + url.lastIndexOf('/'));
				url = url.split('?')[0];
				fileType = url.split('#')[0].split('.')[1];
				return fileType;
			}
		</script>

		<!-- Our own CSS -->
		<link rel="stylesheet" href="{% static "css/style.css" %}" type="text/css">
			{% if engage_urls %}
			<div class="container">
				<table class="table table-hover" id="table1" name="table1">

					<thead>
						<tr>
							<th>Engage</th>
						</tr>
					</thead>

					<tbody>
						
						{% for enlink in engage_urls %}

						<!--</tr> -->
						<tr id="engage_{{enlink.item_id}}_row">
							<td>
							  <div class="col-md-11" >
								  <h4 ><a href="{{ enlink.url }}" target="_blank" display:block;width:400px;>{{ enlink.title }}</a></h4>
										{% for t, v in eva_url_to_tag.items %}
											  {% if t.url == enlink.url %}
													{% for each_tag in v%}
													<span class="label label-info">{{each_tag.tag_name}}</span>
													{% endfor %}
											  {% endif %}
										{% endfor %}
										<span class="label label-info" style="color:black;" id='domainId+{{enlink.url}}'>
											<script text="text/javascript">
										  		document.write(extractDomain('{{enlink.url}}'));
										  	</script>
										</span>&nbsp;

										<span class="label label-info" style="color:red;" id ='fileType+{{enlink.url}}'> 
										  <script text="text/javascript">
											var fileType = (extractFileType('{{enlink.url}}'));
											if(fileType != null){
											  document.write("("+fileType+")");
											}
											else {
												document.write("(html)")
											}
										  </script>
										</span >
								  <p>{{ enlink.desc }}</p>
							  </div>
									
								</td>
						</tr> 
				{% endfor %}
				</tbody>
			</table>
			</div>
			{% endif %}
			
			<!-- third div -->
			{% if evaluate_urls %}
			<table class="table table-hover" id="table3">

				<thead>
					<tr>
						<th>Evaluate</th>
					</tr>
				</thead>

				<tbody>
					<!--- search result -->
					{% for enlink in evaluate_urls %}
					<!--- search result -->
					 
					<tr id="evaluate_{{enlink.item_id}}_row">
						<td>
						  <div class="col-md-11" >
							  <h4 ><a href="{{ enlink.url }}" target="_blank" display:block;width:400px;>{{ enlink.title }}</a></h4>
									{% for t, v in eva_url_to_tag.items %}
										  {% if t.url == enlink.url %}
												{% for each_tag in v%}
												<span class="label label-info">{{each_tag.tag_name}}</span>
												{% endfor %}
										  {% endif %}
									{% endfor %}
									<span class="label label-info" style="color:black;" id='domainId+{{enlink.url}}'>
										<script text="text/javascript">
									  		document.write(extractDomain('{{enlink.url}}'));
									  	</script>
									</span>&nbsp;

									<span class="label label-info" style="color:red;" id ='fileType+{{enlink.url}}'> 
									  <script text="text/javascript">
										var fileType = (extractFileType('{{enlink.url}}'));
										if(fileType != null){
										  document.write("("+fileType+")");
										}
										else {
											document.write("(html)")
										}
									  </script>
									</span >
							  <p>{{ enlink.desc }}</p>
						  </div>

						</td>
					</tr> 
	
					{% endfor %}  

				</tbody>
			</table>
			{% endif %}


						{% if documents %}
			<div class="container">
				<table class="table table-hover" id="table1" name="table1">

					<thead>
						<tr>
							<th>Documents Uploaded</th>
						</tr>
					</thead>

					<tbody>
						
						{% for d in documents %}

						<!--</tr> -->
						<tr id="engage_{{enlink.item_id}}_row">
							<td>
									<div class="col-xs-12 col-md-11">
										<a href="{{d.docfile.url}}"><h4>{{d.docfile.name}}</h4></a>
												
									</div>
								</td>
						</tr> 
				{% endfor %}
				</tbody>
			</table>
			</div>
			{% endif %}



			<script type="text/javascript" src="{% static "js/jquery-1.7.1.js" %}"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>


		</div>

			<script type="text/javascript">
				 function getCookie(name) {
						var cookieValue = null;
						if (document.cookie && document.cookie != '') {
								var cookies = document.cookie.split(';');
								for (var i = 0; i < cookies.length; i++) {
										var cookie = jQuery.trim(cookies[i]);
										if (cookie.substring(0, name.length + 1) == (name + '=')) {
												cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
												break;
										}
								}
						}
						return cookieValue;
				}

				function up_vote_plan(type){
					
					var csrf_token = getCookie('csrftoken');
					var data = {'type': type ,'csrfmiddlewaretoken': csrf_token};

					var url = "{% url  'clp:display_search_lesson_plan' l.pk %}";
					if(data != null){
							$.ajax({ 
									data: data ,
									type: "POST",
									url: url,
									success: function(response) {
										location.reload();  
									},
									error: function(e, x, r) {
											console.log("Failed!");
									}
							});
					}
					return false;
				}
			</script>



		{% endblock %}
		
	</body>
</html>

