<html>
 {% extends "banner_base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block head_title %}{% trans "Generate Lesson Plan" %}{% endblock %}

<!-- Don't know the purpose of the following line -->
{% block body_class %}home{% endblock %}


{% block banner %}

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

		<!-- Our own CSS -->
		<link rel="stylesheet" href="{% static "css/style.css" %}" type="text/css">


		<div class="row">
			<blockquote class="blockquote">
				<p class="mb-0"><strong>Generate:</strong></p>
			</blockquote>
		</div>
		<form enctype="multipart/form-data" action="{% url 'clp:generate_lesson_plan' 1 %}" role="form" method = "post">
				{% csrf_token %}
				{% load bootstrap %}
				{{form|bootstrap}}

				<div class="row">
					<div class="col-xs-12 col-lg-6 col-md-6 col-lg-offset-3 col-md-offset-3">
						<button id="generate" class="btn btn-primary btn-block" type="submit">{% trans "Generate A Lesson Plan" %}</button>
					</div>
			</div>
		</form>
{% endblock %}
</html>
