<!DOCTYPE html>

{% extends "base/banner_base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block banner %}
   

    {% if user.is_authenticated %}
        {% url "clp:create_lesson_plan" as create_lesson_plan_url %}
        {% url "submit_question" as submit_question_url %}
        {% url "upload" as upload_url %}
        {% url "search_lesson_plan" as search_lp_url %}
        {% url "search_questions" as search_q_url %}
        {% url "generate_question_paper" as generate_question_paper_url %}

                
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CollectiveTeach</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    <link rel="stylesheet" href="{% static "css/style.css" %}" type="text/css">


    <div id="wrapper">

            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Welcome, {{user.username}}!</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="panel panel-primary">
                        
                        <a href="{% url 'clp:generate_lesson_plan' 0 %}">
                        <div class="panel-heading">
                            <div class="row" style="background-image: url(../site_media/static/images/updown2.png); background-size:30px 30px; background-repeat: no-repeat; background-position: left; cursor: move;margin-left:10px">
                                <div class="col-xs-3" >
                                    <i class="fa fa-plus fa-1x"></i>
                                </div>
                                <div class="col-xs-9 text-center" >
                                
                                    <div style="margin-left:-100px;" >Generate a New Lesson plan</div>
                                
                                </div>
                            </div>
                        </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="panel panel-primary">
                        <a href="{% url 'clp:upload_lesson_plan' %}">
                        <div class="panel-heading">
                            <div class="row" style="background-image: url(../site_media/static/images/updown2.png); background-size:30px 30px; background-repeat: no-repeat; background-position: left; cursor: move;margin-left:10px">
                                <div class="col-xs-3">
                                    <i class="fa fa-arrow-up fa-1x"></i>
                                </div>
                                <div class="col-xs-9 text-center    ">
                                    <div style="margin-left:-100px;">Upload a Lesson plan</div>
                                </div>
                            </div>
                        </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="panel panel-primary">
                        <a href="{{search_lp_url}}">
                        <div class="panel-heading">
                            <div class="row" style="background-image: url(../site_media/static/images/updown2.png); background-size:30px 30px; background-repeat: no-repeat; background-position: left; cursor: move;margin-left:10px">
                                <div class="col-xs-3">
                                    <i class="fa fa-list fa-1x"></i>
                                </div>
                                <div class="col-xs-9 text-center    ">
                                    <div style="margin-left:-120px;">Search a Lesson plan</div>
                                </div>
                            </div>
                        </div>
                        </a>
                    </div>
                </div>
                <!--<div class="col-lg-4 col-md-6">
                    <div class="panel panel-primary">
                        <a href="{{search_q_url}}">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-list fa-1x"></i>
                                </div>
                                <div class="col-xs-9 text-center    ">
                                    <div>Question Bank</div>
                                </div>
                            </div>
                        </div>
                        </a>
                    </div>
                </div>-->
                <!--<div class="col-lg-4 col-md-6">
                    <div class="panel panel-primary">
                        <a href="{{generate_question_paper_url}}">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-list fa-1x"></i>
                                </div>
                                <div class="col-xs-9 text-center    ">
                                    <div>Generate Question Paper</div>
                                </div>
                            </div>
                        </div>
                        </a>
                    </div>
                </div>-->
            </div>



            <div>
            <!--- /#row -->
        
    </div>
    <!-- /#wrapper -->

    <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

    <!-- jQuery Version 1.11.0 -->
    <script src="{% static "js/jquery-1.11.0.js" %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "js/bootstrap.min.js" %}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{% static "js/plugins/metisMenu/metisMenu.min.js" %}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{% static "js/sb-admin-2.js" %}"></script>





    {% else %}

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CollectiveTeach</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

        {% url "account_login" as login_url %}
        {% url "account_signup" as signup_url %}
         <h1>{% trans "Welcome to CollectiveTeach" %}</h1>
    <p>
        {% blocktrans %}
        <b>CollectiveTeach</b> is a crowdsourced learning platform aimed at 
    augmenting your teaching and learning experience. By
        using CollectiveTeach, you can make your teaching magical!
        Are you ready?
    {% endblocktrans %}
    </p>
        <p>{% blocktrans %}You can <a href="{{ login_url }}" class="btn btn-default">Log In</a> or <a href="{{ signup_url }}" class="btn btn-primary">Sign Up</a> to try out the site.{% endblocktrans %}</p>
    {% endif %}
{% endblock %}
