{% extends "banner_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block banner %}
    <h1>{% trans "Welcome to YeSua" %}</h1>
    <p>
        {% blocktrans %}
        <b>YeSua</b> is a crowdsourced learning platform aimed at 
	augmenting your teaching and learning experience. By
        using YeSua, you can make your teaching magical!
        Are you ready?
	{% endblocktrans %}
    </p>

    {% if user.is_authenticated %}
        {% url "what_next" as what_next_url %}
        {% url "create_lesson_plan" as create_lesson_plan_url}
        <p class="what_next">{% blocktrans %}Wondering <a href="{{ url create_lesson_plan_url }}" class="btn btn-primary large">What Next Now</a>?{% endblocktrans %}</p>
    {% else %}
        {% url "account_login" as login_url %}
        {% url "account_signup" as signup_url %}
        <p>{% blocktrans %}You can <a href="{{ login_url }}" class="btn btn-default">Log In</a> or <a href="{{ signup_url }}" class="btn btn-primary">Sign Up</a> to try out the site.{% endblocktrans %}</p>
    {% endif %}
{% endblock %}
