<!DOCTYPE html>

{% extends "banner_base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block banner %}
   

	{% if user.is_authenticated %}
		{% url "clp:create_lesson_plan" as create_lesson_plan_url %}
		{% url "submit_question" as submit_question_url %}
		{% url "upload" as upload_url %}
		{% url "search_lesson_plan" as search_lp_url %}
		{% url "search_questions" as search_q_url %}
		{% url "generate_question_paper" as generate_question_paper_url %}

				
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>CollectiveTeach</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

	<link rel="stylesheet" href="{% static "css/style.css" %}" type="text/css">

	<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

	<style type="text/css">
		#lp_thumbnail:hover{
			background-color: #F8F8F8;
		}

		a, a:hover, a:active, a:visited, a:focus {
			text-decoration: none;
		}

		#lp_thumbnail {
			text-decoration: none;
		}

		#search_bar{
			display: none;
		}


		#search_bar {
			height: 50%;
			width: 50%;
		    display: none;
		    position: fixed;
		    z-index: 1;
		    top:25%;
		    left: 25%;
		    margin: auto;
		}

		/*.overlay-content {
		    position: relative;
		    top: 46%;
		    width: 80%;
		    text-align: center;
		    margin-top: 30px;
		    margin: auto;
		}*/

		@media only screen and (max-width: 600px) {
    		#search_bar {
		        height: 100%;
				width: 100%;
			    display: none;
			    position: fixed;
			    z-index: 1;
			    top:25%;
			    left:0;
		    }
		}

		#close_button {
			display: none;

		}
	</style>

	<script type="text/javascript">
		function hide_search_bar(){
			$("#search_bar").fadeOut();
			$("#main").fadeTo("fast", 1.0);
			$("#search_button").fadeIn(0.0001);
			$("#close_button").fadeOut(0.0001);
		}
		function show_search_bar(){
			$("#search_bar").fadeIn();
			$("#main").fadeTo("slow", 0.1);
			$("#search_button").fadeOut(0.0001);
			$("#close_button").fadeIn(0.0001);
		}
	</script>
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-lg-offset-3 col-md-offset-3 col-xs-12">
				<button id="search_button" type="button" class="btn btn-primary btn-block" onClick=show_search_bar()>Search</button>
			</div>
		</div>
		<button id="close_button" type="button" class="btn btn-primary" onClick=hide_search_bar()>Close</button>
	</div>
	<br>
	<div id="main", class="container">
		{% for course_name, lessons in context.items %}
			<div class="row">
				<blockquote class="blockquote">
                    <p class="mb-0"><strong>{{course_name}}</strong></p>
                </blockquote>
			</div>
			<div class="row">
				{% for each_lesson in lessons %}
				<div class="col-sm-6 col-md-4">
					<div id="lp_thumbnail" class="thumbnail">
						<a href="{% url 'clp:user_lesson_plan' each_lesson.pk 1 %}">
						<div class="caption">
							<h3>{{each_lesson.lesson_title}}</h3>
							{% for each_bullet in each_lesson.bullets_as_list %}
							  <span class="label label-danger">{{each_bullet}}</span>&nbsp;
							{% endfor %}
							<br></br>
							<span class="label label-primary">Curated by: {{each_lesson.user_name}}</span>
							<span class="label label-info">Community Score: {{each_lesson.score}}</span>
						</div>
						</a>
					</div>
				</div>
				{% endfor %}
			</div>
			
		{% endfor %}

	</div>

	<div id="search_bar" class="container">
		<div class="row">
			<form enctype="multipart/form-data" action="{% url 'search_lesson_plan' %}" role="form" method = "post">
				{% csrf_token %}
				{% load bootstrap %}
				{{form|bootstrap}}
				<div class="row">
					<div class="col-xs-12 col-lg-6 col-md-6 col-lg-offset-3 col-md-offset-3">
						<button class="btn btn-primary btn-block" type="submit">{% trans "Search Lesson Plan" %}</button>
					</div>
			</div>
			</form>
		</div>
	</div>

	{% else %}

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>CollectiveTeach</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

		{% url "account_login" as login_url %}
		{% url "account_signup" as signup_url %}
		 <h1>{% trans "Welcome to CollectiveTeach" %}</h1>
	<p>
		{% blocktrans %}
		<b>CollectiveTeach</b> is a crowdsourced learning platform aimed at 
	augmenting your teaching and learning experience.
	{% endblocktrans %}
	</p>
		<p>{% blocktrans %}You can <a href="{{ login_url }}" class="btn btn-default">Log In</a> or <a href="{{ signup_url }}" class="btn btn-primary">Sign Up</a> to try out the site.{% endblocktrans %}</p>
	{% endif %}
{% endblock %}
