{% extends "site_base.html" %}

{% block body_base %}
<body>
<div class="container">

	  <!-- Jumbotron Header -->
	  <div class="row top-buffer">
		<div class="col-lg-6 offset-lg-3 ">
			<input class="form-control" type="text" placeholder="Enter Keywords" aria-label="Search">
		</div>
	  </div>

		<div class="row top-buffer">
			<h5>Operaring Systems</h5>
		</div>
		<div class="row text-center top-buffer">
			<div class="col-lg-3 col-md-6 mb-4">
				<div class="card">
					<div class="card-body">
						<h4 class="card-title">Card title</h4>
						<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo magni sapiente, tempore debitis beatae culpa natus architecto.</p>
					</div>
					<div class="card-footer">
					  <a href="#" class="btn btn-primary">Find Out More!</a>
					</div>
				</div>
			</div>
		</div>

			
		<div class="row top-buffer">
			<h5>Operaring Systems</h5>
		</div>
		<div class="row text-center top-buffer">
			<div class="col-lg-3 col-md-6 mb-4">
				<div class="card">
					<div class="card-body">
						<h4 class="card-title">Card title</h4>
						<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo magni sapiente, tempore debitis beatae culpa natus architecto.</p>
					</div>
					<div class="card-footer">
					  <a href="#" class="btn btn-primary">Find Out More!</a>
					</div>
				</div>
			</div>
		</div>


			
		<div class="row top-buffer">
			<h5>Operaring Systems</h5>
		</div>
		<div class="row text-center top-buffer">
			<div class="col-lg-3 col-md-6 mb-4">
				<div class="card">
					<div class="card-body">
						<h4 class="card-title">Card title</h4>
						<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo magni sapiente, tempore debitis beatae culpa natus architecto.</p>
					</div>
					<div class="card-footer">
					  <a href="#" class="btn btn-primary">Find Out More!</a>
					</div>
				</div>
			</div>
		</div>

</div>

</body>
{% endblock %}