  <html>
  {% extends "banner_base.html" %}

{% load i18n %}
{% load staticfiles %}

{% block head_title %}{% trans "Create Lesson Plan" %}{% endblock %}

<!-- Don't know the purpose of the following line -->
{% block body_class %}home{% endblock %}

  <head>

    <title>Results</title>
  </head>

  <body>

    {% block banner %}

      <h2> Create a Lesson Plan </h2>
      {% url "clp:save_lesson_plan" as save_lesson_plan_url %}

      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
          <script type="text/javascript">
            function extractDomain(url) {
                        console.log("here!");
                        var domain;
                        if (url.indexOf("://") > -1) {
                            domain = url.split('/')[2];
                        }
                        else {
                            domain = url.split('/')[0];
                        }
                        //find & remove port number
                        domain = domain.split(':')[0];
                        return domain;
            }
          </script>

    <!-- Our own CSS -->
    <link rel="stylesheet" href="{% static "css/style.css" %}" type="text/css">
      <form action="{{save_lesson_plan_url}}" method="POST">      
      
      {% csrf_token %}
    <div class="container lesson_plan_id" id='{{lesson_plan.id}}'>
      <div id="debugArea" style="float: right">&nbsp;</div>
       <input type="hidden" id="user_name" name="user_name" value="{{lesson_plan.user_name}}"/>
        <input type="hidden" id="subject" name="subject" value="{{lesson_plan.subject}}"/>
        <input type="hidden" id="course_name" name="course_name" value="{{lesson_plan.course_name}}"/>
        <input type="hidden" id="lesson_title" name="lesson_title" value="{{lesson_plan.lesson_title}}"/>
        <input type="hidden" id="grade" name="grade" value="{{lesson_plan.grade}}"/>
        <input type="hidden" id="bullets" name="bullets" value="{{lesson_plan.bullest}}"/>
        <input type="hidden" id="input_title" name="input_title" value="{{input_title}}"/>
      
      <!-- First Div -->
      {% if engage_urls %}
      <div class="container">
        <table class="table table-hover" id="table1" name="table1">

          <thead>
            <tr>
              <th>Engage</th>
            </tr>
          </thead>

          <tbody>
            
            {% for enlink in engage_urls %}
            <!--- search result -->
            <!-- <tr> -->
              <input type="hidden" id="engageurl_{{enlink.item_id}}" name="engageurl_{{enlink.item_id}}" value="{{enlink.url}}"/>
              <input type="hidden" id="engagedesc_{{enlink.item_id}}" name="engagedesc_{{enlink.item_id}}" value="{{enlink.desc}}"/>
            <!--</tr> -->
            <tr id="engage_{{enlink.item_id}}_row">
              <td>
                  <div class="col-xs-12 col-md-11">

                        <h4><a href="{{ enlink.url }}" target="_blank">{{ enlink.title }}</a></h4>
                        <p id='domainId+{{enlink.url}}'>
                          <script text="text/javascript">
                            document.getElementById('domainId+'+'{{enlink.url}}').innerHTML = extractDomain('{{enlink.url}}');
                          </script>
                        </p>
                        <p>{{ enlink.desc }}</p>  
                  </div>
                  <div class="col-md-1">
                <input id = "explain_{{ enlink.item_id}}" type="image" class="img-responsive item-delete link_item" src="{% static "images/delete.png" %}" onclick="return false;" width="20" height="20"/>
            
                  <input id = "explain_{{ enlink.item_id}}_up" type="image" class="img-responsive item-up link_item" src="{% static "images/Up.png" %}" onclick="return false;" width="15" height="15"/>
               
                  <input id = "explain_{{ enlink.item_id}}_down" type="image" class="img-responsive item-down link_item" src="{% static "images/Down.png" %}" onclick="return false;" width="15" height="15"/>
               
              </div>
                </td>
            </tr> 
        {% endfor %}
        </tbody>
      </table>
      </div>
      {% endif %}
      <!-- second div -->
      {% if explain_urls %}
      <table class="table table-hover" isd="table2">

        <thead>
          <tr>
            <th>Explain</th>
          </tr>
        </thead>

        <tbody>
          
          <!--- search result -->
          {% for enlink in explain_urls %}
          <!--- search result -->
           
            <input type="hidden" id="explainurl_{{enlink.item_id}}" name="explainurl_{{enlink.item_id}}" value="{{enlink.url}}"/>
            <input type="hidden" id="explaindesc_{{enlink.item_id}}" name="explaindesc_{{enlink.item_id}}" value="{{enlink.desc}}"/>
         
          <tr id="explain_{{enlink.item_id}}_row">
            <td>
              <div class="col-md-11">
                  <h4><a href="{{ enlink.url }}" target="_blank" >{{ enlink.title }}</a></h4>
                  <p>{{ enlink.desc }}</p> <p value="extractDomain({{enlink.url}})">
              </div>
              <div class="col-md-1">
                <input id = "explain_{{ enlink.item_id}}" type="image" class="img-responsive item-delete link_item" src="{% static "images/delete.png" %}" onclick="return false;" width="20" height="20"/>
            
                  <input id = "explain_{{ enlink.item_id}}_up" type="image" class="img-responsive item-up link_item" src="{% static "images/Up.png" %}" onclick="return false;" width="15" height="15"/>
               
                  <input id = "explain_{{ enlink.item_id}}_down" type="image" class="img-responsive item-down link_item" src="{% static "images/Down.png" %}" onclick="return false;" width="15" height="15"/>
               
              </div>
            </td>
          </tr> 
          <!-- search result ends -->
          {% endfor %}

      
          

        </tbody>
      </table>
        {% endif %}
      <!-- third div -->
      {% if evaluate_urls %}
      <table class="table table-hover" id="table3">

        <thead>
          <tr>
            <th>Evaluate</th>
          </tr>
        </thead>

        <tbody>
          <!--- search result -->
          {% for enlink in evaluate_urls %}
          <!--- search result -->
           <!--<tr> -->
            <input type="hidden" id="evaluateurl_{{enlink.item_id}}" name="evaluateurl_{{enlink.item_id}}" value="{{enlink.url}}"/>
            <input type="hidden" id="evaluatedesc_{{enlink.item_id}}" name="evaluatedesc_{{enlink.item_id}}" value="{{enlink.desc}}"/>
          <!--</tr> -->
          <tr id="evaluate_{{enlink.item_id}}_row">
            <td>
              <div class="col-md-11" >
                  <h4 ><a href="{{ enlink.url }}" target="_blank" display:block;width:400px;>{{ enlink.title }}</a></h4>
                                          <p id='domainId+{{enlink.url}}'>
                          <script text="text/javascript">
                            document.getElementById('domainId+'+'{{enlink.url}}').innerHTML = extractDomain('{{enlink.url}}');
                          </script>
                        </p>
                  <p>{{ enlink.desc }}</p>
              </div>
              <div class="col-md-1">
                <input type="image" id = "evaluate_{{ enlink.item_id}}" class="img-responsive item-delete link_item" src="{% static "images/delete.png" %}" onclick="return false;" width="20" height="20"/>
  
                  <input id = "evaluate_{{ enlink.item_id}}_up" type="image" class="img-responsive item-up link_item" src="{% static "images/Up.png" %}" onclick="return false;" width="15" height="15"/>
                
                  <input id = "evaluate_{{ enlink.item_id}}_down" type="image" class="img-responsive item-down link_item" src="{% static "images/Down.png" %}" onclick="return false;" width="15" height="15"/>
                

              </div>
            </td>
          </tr> 
  
          <!-- search result ends -->
          {% endfor %}  

          <!-- search result ends -->


        </tbody>
      </table>
      {% endif %}

      {% if doc %}
      <table class="table table-hover" id="table4">

        <thead>
          <tr>
            <th>Documents</th>
          </tr>
        </thead>

        <tbody>
          <!--- search result -->
          {% for document in doc %}
          <!--- search result -->
          <input type="hidden" id="document_{{forloop.counter}}" name="document_{{forloop.counter}}" value="{{document.docfile}}"/>
          <tr id="document_{{forloop.counter}}_row">
            <td>
              <div class="col-md-11" >
                  <p>Document {{forloop.counter}}</p>
                  <p><a href="{{ document.docfile.url }}"> {{ document.docfile.name }}</a><p>
                  
              </div>
              <div class="col-md-1">
                <input type="image" id = "document_{{forloop.counter}}" class="img-responsive item-delete link_item" src="{% static "images/delete.png" %}" onclick="return false;" width="20" height="20"/>
              </div>
            </td>
          </tr> 
          <!-- search result ends -->
          {% endfor %}  
          <!-- search result ends -->


        </tbody>
      </table>
      {% endif %}

      {% if pic %}
      <table class="table table-hover" id="table4">

        <thead>
          <tr>
            <th>Pictures</th>
          </tr>
        </thead>

        <tbody>
          <!--- search result -->
          {% for document in pic %}
          <!--- search result -->
          <input type="hidden" id="Image_{{forloop.counter}}" name="Image_{{forloop.counter}}" value="{{document.docfile}}"/>
          <tr id="pic_{{forloop.counter}}_row">
            <td>
              <div class="col-md-11" >
                  <p>Image {{forloop.counter}}</p>
                  <p><a href="{{ document.docfile.url }}">{{ document.docfile.name }}</a></p>
              </div>
              <div class="col-md-1">
                <input type="image" id = "pic_{{forloop.counter}}" class="img-responsive item-delete link_item" src="{% static "images/delete.png" %}" onclick="return false;" width="20" height="20"/>
              </div>
            </td>
          </tr> 
          <!-- search result ends -->
          {% endfor %}  
          <!-- search result ends -->


        </tbody>
      </table>
      {% endif %}

       <button type="submit" class="btn btn-default"> Save </button>      
      </form>

      <a href="">Evaluate</button>

      <script type="text/javascript" src="{% static "js/jquery-1.7.1.js" %}"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
      <script>

      $('.item-delete').click(function() {
        var lessonId = $('.lesson_plan_id').attr('id')
        var itemId = ""
        var itemType = ""
        var itemGroup = ""
        console.log(lessonId)
        if ($(this).attr('id').indexOf('engage') > -1) {
          itemGroup = 'engage'
          itemId = $(this).attr('id').replace('engage_','').replace('_img','')
        } else if ($(this).attr('id').indexOf('explain') > -1) {
          itemGroup = 'explain'
          itemId = $(this).attr('id').replace('explain_','').replace('_img','')
        } else if ($(this).attr('id').indexOf('evaluate') > -1) {
          itemGroup = 'evaluate'
          itemId = $(this).attr('id').replace('evaluate_','').replace('_img','')
        } else if ($(this).attr('id').indexOf('document') > -1) {
          itemGroup = 'document'
          itemId = $(this).attr('id').replace('document_','').replace('_img','')
        } else if ($(this).attr('id').indexOf('pic') > -1) {
          itemGroup = 'pic'
          itemId = $(this).attr('id').replace('pic_','').replace('_img','')
        } 

        if ($(this).hasClass('link_item')) {
          itemType = "url"
        } else if ($(this).hasClass('img_item')) {
          itemType = "img"
        }

        //alert('lesson_plan_id is ' + lessonId + '\nitem type is ' + itemType + '\nitem group is ' + itemGroup + '\nitem id is ' + itemId)
        
        var name_url = itemGroup+'url_'+itemId
        var name_desc = itemGroup+'desc_'+itemId
        console.log(name_url," ",name_desc)
      
        $('#'+name_url).val("none")
        $('#'+name_url).val("none")
        $('#'+name_desc).val("none")
        $('#'+name_desc).val("none")
        var url =  $('#'+name_desc).val()
        //console.log($('input[name= name_url]').attr("name"))
        if(confirm('Are you sure you want to delete this item?')){
          $('#' + itemGroup + '_' + itemId + '_row').remove();
        }
        
       // var delete_existing = deleteItem(itemType, itemId, lessonId, itemGroup)
        /*$(this).attr('name','none')
        $(this).attr('id','none')*/
        /*if (~deleteItem(itemType, itemId, lessonId, itemGroup)) {
           $('#' + itemGroup + '_' + itemId + '_row').remove()
        }*/
        
        // return false
      });

      $('.item-up').click(function(){
         
        var itemGroup=""
        var itemId=0

         if ($(this).attr('id').indexOf('engage') > -1) {
          itemGroup = 'engage'
          itemId = parseInt($(this).attr('id').replace('engage_','').replace('_up',''))
        } else if ($(this).attr('id').indexOf('explain') > -1) {
          itemGroup = 'explain'
          itemId = parseInt($(this).attr('id').replace('explain_','').replace('_up',''))
        } else if ($(this).attr('id').indexOf('evaluate') > -1) {
          itemGroup = 'evaluate'
          itemId = parseInt($(this).attr('id').replace('evaluate_','').replace('_up',''))
        }
        //alert('check '+itemId) 
        up=itemId-1
        url_up = itemGroup+'url_'+(up).toString()
          while($( up>=0 && "#"+url_up).val()=="none" ){
            up=up-1
            url_up = itemGroup+'url_'+(up).toString()
          }
        //alert("not none"+up)
        if(itemId>0 && up>=0){
          var name_row=itemGroup+'_'+itemId.toString()+'_row'
          
          var name_row_up=itemGroup+'_'+(up).toString()+'_row'
          $('#'+name_row).after($('#'+name_row_up))
          var name_url = itemGroup+'url_'+itemId.toString()
          var name_desc = itemGroup+'desc_'+itemId.toString()
          var name_url_up = itemGroup+'url_'+(up).toString()
          var name_desc_up = itemGroup+'desc_'+(up).toString()
          var name_delete= name_row.replace('_row','')
          var name_delete_up = name_row_up.replace('_row','')
          var name_up=name_row.replace('row','up')
          var name_up_up=name_row_up.replace('row','up')
          var name_down=name_row.replace('row','down')
          var name_down_up=name_row_up.replace('row','down')
          var row=$('#'+name_row)
          var row_up =$('#'+name_row_up)
          var url=$('#'+name_url)
          var desc=$('#'+name_desc)
          var url_up=$('#'+name_url_up)
          var desc_up=$('#'+name_desc_up)
          var delete_img=$('#'+name_delete)
          var delete_img_up=$('#'+name_delete_up)
          var up=$('#'+name_up)
          var up_up=$('#'+name_up_up)
          var down=$('#'+name_down)
          var down_up=$('#'+name_down_up)
          //row id changed
          row.attr('id',name_row_up)
          row_up.attr('id',name_row)
          //url id changed
          url.attr('id',name_url_up)
          url.attr('name',name_url_up)
          url_up.attr('id',name_url)
          url_up.attr('name',name_url)
          //desc id changed
          desc.attr('id',name_desc_up)
          desc.attr('name',name_desc_up)
          desc_up.attr('id',name_desc)
          desc_up.attr('name',name_desc)
          //delete image id changed
          delete_img.attr('id',name_delete_up)
          delete_img_up.attr('id',name_delete)
          //up image id changed
          up.attr('id',name_up_up)
          up_up.attr('id',name_up)
          //down image id changed
          down.attr('id',name_down_up)
          down_up.attr('id',name_down)
          alert("Order changed")
        }

      });
  
       $('.item-down').click(function(){

        var itemGroup=""
        var itemId=0
        var myTable=""
        //alert('down')
         if ($(this).attr('id').indexOf('engage') > -1) {
          myTable="table1"
          itemGroup = 'engage'
          itemId = parseInt($(this).attr('id').replace('engage_','').replace('_down',''))
        } else if ($(this).attr('id').indexOf('explain') > -1) {
          myTable="table2"
          itemGroup = 'explain'
          itemId = parseInt($(this).attr('id').replace('explain_','').replace('_down',''))
        } else if ($(this).attr('id').indexOf('evaluate') > -1) {
          myTable="table3"
          itemGroup = 'evaluate'
          itemId = parseInt($(this).attr('id').replace('evaluate_','').replace('_down',''))
        }
        //alert('check '+itemId) 
        down=itemId+1
        url_down = itemGroup+'url_'+(down).toString()
           
          while($( down<=$('#'+myTable +'>tbody >tr').length && "#"+url_down).val()=="none" ){
            down=down+1
            url_down = itemGroup+'url_'+(down).toString()
          }
        
        if(itemId< $('#'+myTable +'>tbody >tr').length && down<=$('#'+myTable +'>tbody >tr').length){
          //alert($('#'+myTable +'>tbody >tr').length)
          var name_row=itemGroup+'_'+itemId.toString()+'_row'
          var name_row_down=itemGroup+'_'+(down).toString()+'_row'
          $('#'+name_row).before($('#'+name_row_down))
          var name_url = itemGroup+'url_'+itemId.toString()
          var name_desc = itemGroup+'desc_'+itemId.toString()
          var name_url_down = itemGroup+'url_'+(down).toString()
          var name_desc_down = itemGroup+'desc_'+(down).toString()
          var name_delete= name_row.replace('_row','')
          var name_delete_down = name_row_down.replace('_row','')
          var name_up=name_row.replace('row','up')
          var name_up_down=name_row_down.replace('row','up')
          //alert(name_up_down)
          var name_down=name_row.replace('row','down')
          var name_down_down=name_row_down.replace('row','down')
          var row=$('#'+name_row)
          var row_down =$('#'+name_row_down)
          var url=$('#'+name_url)
          var desc=$('#'+name_desc)
          var url_down=$('#'+name_url_down)
          var desc_down=$('#'+name_desc_down)
          var delete_img=$('#'+name_delete)
          var delete_img_down=$('#'+name_delete_down)
          var up=$('#'+name_up)
          var up_down=$('#'+name_up_down)
          var down=$('#'+name_down)
          var down_down=$('#'+name_down_down)
          //row id changed
          row.attr('id',name_row_down)
          row_down.attr('id',name_row)
          //url id changed
          url.attr('id',name_url_down)
          url.attr('name',name_url_down)
          url_down.attr('id',name_url)
          url_down.attr('name',name_url)
          //desc id changed
          desc.attr('id',name_desc_down)
          desc.attr('name',name_desc_down)
          desc_down.attr('id',name_desc)
          desc_down.attr('name',name_desc)
          //delete image id changed
          delete_img.attr('id',name_delete_down)
          delete_img_down.attr('id',name_delete)
          //up image id changed
          up.attr('id',name_up_down)
          up_down.attr('id',name_up)
          //down image id changed
          down.attr('id',name_down_down)
          down_down.attr('id',name_down)
          //alert(up.attr('id'))
          alert("Order changed")
        }

      });


      </script>

      <script type="text/javascript">
        
      </script>

    </div>


    {% endblock %}
    
  </body>
</html>

