  <html>
  {% extends "banner_base.html" %}

{% load i18n %}
{% load staticfiles %}

{% block head_title %}{% trans "Create Lesson Plan" %}{% endblock %}

<!-- Don't know the purpose of the following line -->
{% block body_class %}home{% endblock %}

  <head>

    <title>Results</title>
  </head>

  <body>

    {% block banner %}

      <h2> Create a Lesson Plan </h2>
      {% url "clp:save_lesson_plan" as save_lesson_plan_url %}

      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <script type="text/javascript">
      function extractDomain(url) {
          var domain;
          if (url.indexOf("://") > -1) {domain = url.split('/')[2];}
          else {domain = url.split('/')[0];}
          
          domain = domain.split(':')[0];
          return domain;
      }
    </script>

    <!-- Our own CSS -->
    <link rel="stylesheet" href="{% static "css/style.css" %}" type="text/css">
    
      <!-- First Div -->
      {% if engage_urls %}
      <div class="container">
        <table class="table table-hover" id="table1" name="table1">

          <thead>
            <tr>
              <th>Engage</th>
            </tr>
          </thead>

          <tbody>
            
            {% for enlink in engage_urls %}
            <!--- search result -->
            <!-- <tr> -->
              <input type="hidden" id="engageurl_{{enlink.item_id}}" name="engageurl_{{enlink.item_id}}" value="{{enlink.url}}"/>
              <input type="hidden" id="engagedesc_{{enlink.item_id}}" name="engagedesc_{{enlink.item_id}}" value="{{enlink.desc}}"/>
              <input type="hidden" id="engagetitle_{{enlink.item_id}}" name="engagetitle_{{enlink.item_id}}" value="{{enlink.title}}"/>
            <!--</tr> -->
            <tr id="engage_{{enlink.item_id}}_row">
              <td>
                  <div class="col-xs-12 col-md-11">

                        <h4><a href="{{ enlink.url }}" target="_blank">{{ enlink.title }}</a></h4>
                        <p id='domainId+{{enlink.url}}'>
                          <script text="text/javascript">
                            document.getElementById('domainId+'+'{{enlink.url}}').innerHTML = extractDomain('{{enlink.url}}');
                          </script>
                        </p>
                        <p>{{ enlink.desc }}</p>  
                  </div>
                  <div class="col-md-1">
                <input id = "explain_{{ enlink.item_id}}" type="image" class="img-responsive item-delete link_item" src="{% static "images/delete.png" %}" onclick="return false;" width="20" height="20"/>
            
                  <input id = "explain_{{ enlink.item_id}}_up" type="image" class="img-responsive item-up link_item" src="{% static "images/Up.png" %}" onclick="return false;" width="15" height="15"/>
               
                  <input id = "explain_{{ enlink.item_id}}_down" type="image" class="img-responsive item-down link_item" src="{% static "images/Down.png" %}" onclick="return false;" width="15" height="15"/>
               
              </div>
                </td>
            </tr> 
        {% endfor %}
        </tbody>
      </table>
      </div>
      {% endif %}

      
      <!-- third div -->
      {% if evaluate_urls %}
      <table class="table table-hover" id="table3">

        <thead>
          <tr>
            <th>Evaluate</th>
          </tr>
        </thead>

        <tbody>
          <!--- search result -->
          {% for enlink in evaluate_urls %}
          <!--- search result -->
           <!--<tr> -->
            <input type="hidden" id="evaluateurl_{{enlink.item_id}}" name="evaluateurl_{{enlink.item_id}}" value="{{enlink.url}}"/>
            <input type="hidden" id="evaluatedesc_{{enlink.item_id}}" name="evaluatedesc_{{enlink.item_id}}" value="{{enlink.desc}}"/>
            <input type="hidden" id="evaluatetitle_{{enlink.item_id}}" name="evaluatetitle_{{enlink.item_id}}" value="{{enlink.title}}"/>
          <!--</tr> -->
          <tr id="evaluate_{{enlink.item_id}}_row">
            <td>
              <div class="col-md-11" >
                  <h4 ><a href="{{ enlink.url }}" target="_blank" display:block;width:400px;>{{ enlink.title }}</a></h4>
                                          <p id='domainId+{{enlink.url}}'>
                          <script text="text/javascript">
                            document.getElementById('domainId+'+'{{enlink.url}}').innerHTML = extractDomain('{{enlink.url}}');
                          </script>
                        </p>
                  <p>{{ enlink.desc }}</p>
              </div>
              <div class="col-md-1">
                <input type="image" id = "evaluate_{{ enlink.item_id}}" class="img-responsive item-delete link_item" src="{% static "images/delete.png" %}" onclick="return false;" width="20" height="20"/>
  
                  <input id = "evaluate_{{ enlink.item_id}}_up" type="image" class="img-responsive item-up link_item" src="{% static "images/Up.png" %}" onclick="return false;" width="15" height="15"/>
                
                  <input id = "evaluate_{{ enlink.item_id}}_down" type="image" class="img-responsive item-down link_item" src="{% static "images/Down.png" %}" onclick="return false;" width="15" height="15"/>
                

              </div>
            </td>
          </tr> 
  
          {% endfor %}  

        </tbody>
      </table>
      {% endif %}


        </tbody>
      </table>
      {% endif %}

      <script type="text/javascript" src="{% static "js/jquery-1.7.1.js" %}"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

      <script type="text/javascript">
        
      </script>

    </div>


    {% endblock %}
    
  </body>
</html>

