<html>
{% extends "banner_base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block head_title %}{% trans "Upload Lesson Plan" %}{% endblock %}

<!-- Don't know the purpose of the following line -->
{% block body_class %}home{% endblock %}

<body>
{% block banner %}
        
        <!-- Upload form. Note enctype attribute! -->
        {% url "list" as list_url %}

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

        <!-- Our own CSS -->
        <link rel="stylesheet" href="{% static "css/style.css" %}" type="text/css">
    
        <form action="{{ list_url }}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
             <input type="hidden" id="subject" name="subject" value="{{lesson_plan.subject}}"/>
            <input type="hidden" id="course_name" name="course_name" value="{{lesson_plan.course_name}}"/>
             <input type="hidden" id="lesson_title" name="lesson_title" value="{{lesson_plan.lesson_title}}"/>
            <input type="hidden" id="grade" name="grade" value="{{lesson_plan.grade}}"/>
            <input type="hidden" id="bullets" name="bullets" value="{{lesson_plan.bullets}}"/>
            <p>Select Type of Upload</p>
            <select id="upload_type" name="upload_type" type="text">
           {% for type in types %}
            <option>{{ type }}</option>
           {% endfor %}
            </select>

            {% if doc %}
            <p>Documents Uploaded</p>
            <ol>
                {% for document in doc %}
                    <li> <p> <a href="{{ document.docfile.url }}">{{ document.docfile.name }}</a> </p> </li>
                {% endfor %}
            </ol>
            {% endif %}
            {% if pic %}
            <p> Images Uploaded </p>
            <ol>
                {% for picture in pic %}
                    <li> <p> <a href="{{ picture.docfile.url }}">{{ picture.docfile.name }}</a> </p> </li>
                {% endfor %}
            </ol>
            {% endif %}
            <p>{{ form.non_field_errors }}</p> 
            <!--<p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p> -->
            <p>
                {{ form.docfile.errors }}
                {{ form.docfile }}
            </p>
            <p><input type="submit" value="Upload" /></p>
        </form>
   {% endblock %}
  </body>
</html>
