<html>
{% extends "banner_base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block head_title %}{% trans "Upload Lesson Plan" %}{% endblock %}

<!-- Don't know the purpose of the following line -->
{% block body_class %}home{% endblock %}



<body>
{% block banner %}
    <!-- Header files [To-Do (Rish): Format is weird as of now. Fix it later]-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static "css/style.css" %}" type="text/css">
<style type="text/css">
a, a:hover, a:active, a:visited, a:focus {
    text-decoration: none;
}

#lp_thumbnail {
    text-decoration: none;
}

#lp_thumbnail:hover{
    background-color: #F8F8F8;
}

</style>
    <div class="container">
            <div class="row">
                <ul class="list-group">
                  <li class="list-group-item">User: <strong>{{request.user}}</strong></li>
                  <li class="list-group-item">Email: <strong>{{request.user.email}}</strong></li>
                </ul>
            </div>

            <br></br>
            {% for course_name, l in lesson_plans.items %}
                <div class="row">
                <blockquote class="blockquote">
                    <p class="mb-0"><strong>Course: {{course_name}}</strong></p>
                </blockquote>
                <div class="row">
                {% for each_lesson in l %}
                <div class="col-sm-6 col-md-4">
                    <div id="lp_thumbnail" class="thumbnail">
                        <a href="{% url 'clp:user_lesson_plan' each_lesson.pk 1 %}">
                        <div class="caption">
                            <h3>{{each_lesson.lesson_title}}</h3>
                            {% for each_bullet in each_lesson.bullets_as_list %}
                              <span class="label label-danger">{{each_bullet}}</span>&nbsp;
                            {% endfor %}
                            <br></br>
                            <span class="label label-primary">Curated by: {{each_lesson.user_name}}</span>
                            <span class="label label-info">Community Score: {{each_lesson.score}}</span>
                        </div>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
            
                </div>
            {% endfor %}    

    </div>


   
{% endblock %}
  </body>
</html>

