<html>
{% extends "banner_base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block head_title %}{% trans "Upload Lesson Plan" %}{% endblock %}

<!-- Don't know the purpose of the following line -->
{% block body_class %}home{% endblock %}

<body>
{% block banner %}
    <!-- Header files [To-Do (Rish): Format is weird as of now. Fix it later]-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static "css/style.css" %}" type="text/css">

    <div class="container">
        {{user.user_name}}
            <div class="col-lg-12">
                <h2 class="page-header">Your Lesson Plans</h2>
            </div>
            {% for course_name, l in lesson_plans.items %}
                <div class="row">
                    <h4><strong>Course:{{ course_name }}</strong></h4>
                    {% for lp in l %}
                        <div class="col-md-4 col-sm-6">
                            <h4><i class="glyphicon glyphicon-plus-sign"></i><a href="{% url 'clp:user_lesson_plan' lp.pk 1 %}">{{lp.lesson_title}}</a></h4>
                            <div class="col-md-12 col-sm-12" style="background-color: white;">
                                <p><strong>{{lp.grade}}<strong></p>
                                <p><strong>Lesson Outline:<strong></p>
                                <p>{{lp.bullets}}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}    

    </div>


   
{% endblock %}
  </body>
</html>

