<html>
 {% extends "banner_base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block head_title %}{% trans "Search" %}{% endblock %}

<!-- Don't know the purpose of the following line -->
{% block body_class %}home{% endblock %}


{% block banner %}

	{% url "search_results_terse" as search_results_terse_url %}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    <!-- Our own CSS -->
    <link rel="stylesheet" href="{% static "css/style.css" %}" type="text/css">
    
    <form role="form" action = "{{search_results_terse_url}} " method = "POST">
      {% csrf_token %}
      <div class="form-group">
        <label for="exampleInputEmail1">Subject Name</label>
        <select type="text" class="form-control" name="subject_name">
          <option selected disabled hidden value>-- Choose an option --</option>
          {% for subject in subjects %}
        <option>{{ subject }}</option>
      {% endfor %}
        </select>
      </div>
       <div class="form-group">
        <label for="exampleInputEmail1">Course Name</label>
        <input type="text" class="form-control" name="course">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Lesson Title</label>
        <input type="text" class="form-control" name="title">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Grade</label>
        <select type="text" class="form-control" name="grade">
          <option selected disabled hidden value>-- Choose an option --</option>
          {% for grade in grades %}
		    <option>{{ grade }}</option>
		  {% endfor %}
        </select>
      </div>
      <button type="submit" class="btn btn-default">Search Lesson Plans</button>
    </form>

    <script>
    </script>
    
{% endblock %}
</html>
