<html>
{% extends "banner_base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block head_title %}{% trans "Upload Lesson Plan" %}{% endblock %}

<!-- Don't know the purpose of the following line -->
{% block body_class %}home{% endblock %}

<body>
{% block banner %}
    {% url "upload_lp" as upload_lp_url %}
    
    <!-- Header files [To-Do (Rish): Format is weird as of now. Fix it later]-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static "css/style.css" %}" type="text/css">


    <h2>Upload Lesson Plan</h2>
    <form enctype="multipart/form-data" action="{% url 'clp:upload_lesson_plan' %}" role="form" method = "post">
        {% csrf_token %}
        {% load bootstrap %}
        {{form|bootstrap}}
        <input type="file" id="upload1" name="myfiles[]">
        <div id="upload_prev"></div>
        <button class="btn btn-primary" type="submit">{% trans "Upload Lesson Plan" %}</button>
    </form>

    <!-- Script to display all files uploaded --> 
    <script type="text/javascript">
        $(document).ready(function () {
            $("#upload").change(function() { 
                var files = $('#upload')[0].files;
                for (var i = 0; i < files.length; i++) {
                    $("#upload_prev").append(files[i].name);
                }
            });
        });
    </script>
{% endblock %}
  </body>
</html>

