<html>
{% extends "banner_base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block head_title %}{% trans "Upload Lesson Plan" %}{% endblock %}

<!-- Don't know the purpose of the following line -->
{% block body_class %}home{% endblock %}

<body>
{% block banner %}
    {% url "upload_lp" as upload_lp_url %}
    <h2>Upload Lesson Plan</h2>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    <link rel="stylesheet" href="{% static "css/style.css" %}" type="text/css">
    
    <form role="form" action = "{{upload_lesson_plan}} " method = "post">
    {% csrf_token %}
    {{form}}
    <input type="submit" value ="Submit"/>
{% endblock %}
  </body>
</html>

