  <html>
  {% extends "banner_base.html" %}

{% load i18n %}
{% load staticfiles %}

{% block head_title %}{% trans "Create Lesson Plan" %}{% endblock %}

<!-- Don't know the purpose of the following line -->
{% block body_class %}home{% endblock %}

  <head>

    <title>Results</title>
  </head>

  <body>

    {% block banner %}

      <h2>{{l.subject}} <span> {{l.course_name}}</h2>

      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
          <script type="text/javascript">
            function extractDomain(url) {
                        console.log("here!");
                        var domain;
                        if (url.indexOf("://") > -1) {
                            domain = url.split('/')[2];
                        }
                        else {
                            domain = url.split('/')[0];
                        }
                        //find & remove port number
                        domain = domain.split(':')[0];
                        return domain;
            }
          </script>

    <!-- Our own CSS -->
    <link rel="stylesheet" href="{% static "css/style.css" %}" type="text/css">
      <form action="{{save_lesson_plan_url}}" method="POST">      
      
      {% csrf_token %}
    <div class="container lesson_plan_id" id='{{lesson_plan.id}}'>
      <div id="debugArea" style="float: right">&nbsp;</div>
       <input type="hidden" id="user_name" name="user_name" value="{{lesson_plan.user_name}}"/>
        <input type="hidden" id="subject" name="subject" value="{{lesson_plan.subject}}"/>
        <input type="hidden" id="course_name" name="course_name" value="{{lesson_plan.course_name}}"/>
        <input type="hidden" id="lesson_title" name="lesson_title" value="{{lesson_plan.lesson_title}}"/>
        <input type="hidden" id="grade" name="grade" value="{{lesson_plan.grade}}"/>
        <input type="hidden" id="bullets" name="bullets" value="{{lesson_plan.bullest}}"/>
        <input type="hidden" id="input_title" name="input_title" value="{{input_title}}"/>
      
      <!-- First Div -->
      {% if engage_urls %}
      <div class="container">
        <table class="table table-hover" id="table1" name="table1">

          <thead>
            <tr>
              <th>Engage</th>
            </tr>
          </thead>

          <tbody>
            
            {% for enlink in engage_urls %}
            <!--- search result -->
            <!-- <tr> -->
              <input type="hidden" id="engageurl_{{enlink.item_id}}" name="engageurl_{{enlink.item_id}}" value="{{enlink.url}}"/>
              <input type="hidden" id="engagedesc_{{enlink.item_id}}" name="engagedesc_{{enlink.item_id}}" value="{{enlink.desc}}"/>
            <!--</tr> -->
            <tr id="engage_{{enlink.item_id}}_row">
              <td>
                  <div class="col-xs-12 col-md-11">

                      <h4><a href="{{ enlink.url }}" target="_blank">{{ enlink.url }}</a></h4>
                       <p id='domainId+{{enlink.url}}'>
                          <script text="text/javascript">
                            document.getElementById('domainId+'+'{{enlink.url}}').innerHTML = extractDomain('{{enlink.url}}');
                          </script>
                        </p>
                        <p>{{ enlink.desc }}</p>  
                  </div>
                </td>
            </tr> 
        {% endfor %}
        </tbody>
      </table>
      </div>
      {% endif %}

      <!-- third div -->
      {% if evaluate_urls %}
      <table class="table table-hover" id="table3">

        <thead>
          <tr>
            <th>Evaluate</th>
          </tr>
        </thead>

        <tbody>
          <!--- search result -->
          {% for enlink in evaluate_urls %}
          <!--- search result -->
           <!--<tr> -->
            <input type="hidden" id="evaluateurl_{{enlink.item_id}}" name="evaluateurl_{{enlink.item_id}}" value="{{enlink.url}}"/>
            <input type="hidden" id="evaluatedesc_{{enlink.item_id}}" name="evaluatedesc_{{enlink.item_id}}" value="{{enlink.desc}}"/>
          <!--</tr> -->
          <tr id="evaluate_{{enlink.item_id}}_row">
            <td>
              <div class="col-md-11" >
                  <h4 ><a href="{{ enlink.url }}" target="_blank" display:block;width:400px;>{{ enlink.url }}</a></h4>
                                          <p id='domainId+{{enlink.url}}'>
                          <script text="text/javascript">
                            document.getElementById('domainId+'+'{{enlink.url}}').innerHTML = extractDomain('{{enlink.url}}');
                          </script>
                        </p>
                  <p>{{ enlink.desc }}</p>
              </div>
            </td>
          </tr> 
  
          <!-- search result ends -->
          {% endfor %}  
          {% endif %}

          <!-- search result ends -->


        </tbody>



        </tbody>
      </table>

      </form>


      <script type="text/javascript" src="{% static "js/jquery-1.7.1.js" %}"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    </div>


    {% endblock %}
    
  </body>
</html>

