packages:
  yum:
    git: []
    postgresql93-devel: []
    libjpeg-turbo-devel: []
container_commands: 
  01_install_mysqldb: 
    command: "pip install distribute==0.6.28; pip install mysql-python;"
  02_syncdb: 
    command: "python manage.py syncdb --noinput"
    leader_only: true
  04_collectstatic: 
    command: "python manage.py collectstatic --noinput"
  05_migrate_crowdplatform: 
    command: "python manage.py migrate create_lesson_plan --noinput"
    leader_only: true
option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: ebdjango/wsgi.py
