<html>

{% extends "banner_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}home{% endblock %}

  <head>
    <title>Add Question</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>

  </head>

  <body>
{% block banner %}
{% for each in questions%}
<p>{{each.question}}</p>
{% endfor %}
    <h2>{{lesson.lesson_title}}</h2>

    <a href="/create_lesson_plan/{{lesson.pk}}/display_search_lesson_plan/">Go to lesson plan</a>
    <form role="form" action = "/create_lesson_plan/{{lesson.pk}}/answer_questions/" method = "POST" id="mcq" >
      {% csrf_token %}
        {% load bootstrap %}
        {% for f in forms %}
        {{f|bootstrap}}
        {% endfor %}
      <button type="submit" name="submit" class="btn btn-default">Submit Answer</button>
    </form>

{% endblock %}
  </body>

</html>

